<h1> Car Details </h1>
<table>
    <tr>
        <td> Car ID: </td>
        <td> <%= onerec.car_id %> </td>
    </tr>
    <tr>
        <td> Car Year: </td>
        <td> <%= onerec.caryear %> </td>
    </tr>
    <tr>
        <td> Car Make: </td>
        <td> <%= onerec.carmake %> </td>
    </tr>
    <tr>
        <td> Model: </td>
        <td> <%= onerec.model %> </td>
    </tr>
    <tr>
        <td> Car Type: </td>
        <td> <%= onerec.cartype %> </td>
    </tr>
    <tr>
        <td> Vin: </td>
        <td> <%= onerec.vin %> </td>
    </tr>
    <tr>
        <td> License Plate: </td>
        <td> <%= onerec.license_plate %> </td>
    </tr>
    <tr>
        <td> Car Color: </td>
        <td> <%= onerec.carcolor %> </td>
    </tr>
    
</table>
