<h1> Promotion Details </h1>
<table>
    <tr>
        <td> Promo ID: </td>
        <td> <%= onerec.promo_id %> </td>
    </tr>
    <tr>
        <td> Promo Name: </td>
        <td> <%= onerec.promo_name %> </td>
    </tr>
    <tr>
        <td> Promo Description: </td>
        <td> <%= onerec.promo_desc %> </td>
    </tr>
    <tr>
        <td> Promo Image: </td>
        <td> <%= onerec.promo_image %> </td>
    </tr>
    <tr>
        <td> Start Date: </td>
        <td> <%= onerec.start_date %> </td>
    </tr>
    <tr>
        <td> End Date: </td>
        <td> <%= onerec.end_date %> </td>
    </tr>
    <tr>
        <td> Discount Amount: </td>
        <td> <%= onerec.discount_amount %> </td>
    </tr>
    
</table>
