<h1> Review Details </h1>
<table>
    <tr>
        <td> Review ID: </td>
        <td> <%= onerec.review_id %> </td>
    </tr> 
    <tr>
        <td> Customer ID: </td>
        <td> <%= onerec.customer_id %> </td>
    </tr>
    <tr>
        <td> Service ID: </td>
        <td> <%= onerec.service_id %> </td>
    </tr>
    <tr>
        <td> Review Date: </td>
        <td> <%= onerec.review_date %> </td>
    </tr>
    <tr>
        <td> Comment : </td>
        <td> <%= onerec.comment %> </td>
    </tr>
    <tr>
        <td> Rating : </td>
        <td> <%= onerec.rating %> </td>
    </tr>   
</table>
