<h1> Work Order Details </h1>
<table>
    <tr>
        <td> Order ID: </td>
        <td> <%= onerec.order_id %> </td>
    </tr>
    <tr>
        <td> Customer ID : </td>
        <td> <%= onerec.customer_id %> </td>
    </tr>
    <tr>
        <td> Car ID : </td>
        <td> <%= onerec.car_id %> </td>
    </tr>
    <tr>
        <td> Promotion ID : </td>
        <td> <%= onerec.promo_id %> </td>
    </tr>
    <tr>
        <td> Additional Details : </td>
        <td> <%= onerec.addi_details %> </td>
    </tr>
    <tr>
        <td> Purchase Date : </td>
        <td> <%= onerec.purchase_date %> </td>
    </tr>
    <tr>
        <td> Payment Status : </td>
        <td> <%= onerec.payment_status %> </td>
    </tr>
    
</table>
