<h1>Car Report</h1>
<% if (allrecs.length > 0) {%>
<table border=1 >
    <tr>
        <th>Car ID</th>
        <th>Car Year</th>
        <th>Car Make</th>
        <th>Car Model</th>
        <th>Car Type</th>
        <th>Vin</th>
        <th>License Plate</th>
        <th>Car Color</th>
        
    </tr>
    <% allrecs.forEach((recref, index) => { %>
    <tr>
        <td><%= recref.car_id %></td>
        <td><%= recref.caryear %></td>
        <td><%= recref.carmake %></td>
        <td><%= recref.model %></td>
        <td><%= recref.cartype %></td>
        <td><%= recref.vin%></td>
        <td><%= recref.license_plate %></td>
        <td><%= recref.carcolor %></td>
        
        <td><a href='/car/<%= recref.car_id %>'> Details</a></td>
       
    </tr>
    <% }); %>
</table>

<% } else { %>
<p>Not Records Available</p>
<% } %>
