<h1>Customer Report</h1>
<% if (allrecs.length > 0) {%>
<table border=1 >
    <tr>
        <th>customer_id</th>
        <th>firstname</th>
        <th>middlename</th>
        <th>lastname</th>
        <th>email</th>
        <th>phone</th>
        <th>address1</th>
        <th>address2</th>
        <th>city</th>
        <th>state</th>
        <th>zip</th>
        <th>username</th>
        <th>password</th>
    </tr>
    <% allrecs.forEach((recref, index) => { %>
    <tr>
        <td><%= recref.customer_id %></td>
        <td><%= recref.firstname %></td>
        <td><%= recref.middlename %></td>
        <td><%= recref.lastname %></td>
        <td><%= recref.email %></td>
        <td><%= recref.phone %></td>
        <td><%= recref.address1 %></td>
        <td><%= recref.address2 %></td>
        <td><%= recref.city %></td>
        <td><%= recref.state %></td>
        <td><%= recref.zip %></td>
        <td><%= recref.username %></td>
        <td><%= recref.password %></td>
        <td><a href='/customer/<%= recref.customer_id %>'> Details</a></td>
    </tr>
    <% }); %>
</table>

<% } else { %>
<p>Not Records Available</p>
<% } %>
