<h1>Service Report Listing</h1>
<% if (allrecs.length > 0) {%>
<table border=1 >
    <tr>
        <th>Service ID</th>
        <th>Service Name</th>
        <th>Description</th>
        <th>Price</th>
    </tr>
    <% allrecs.forEach((recref, index) => { %>
    <tr>
        <td><%= recref.service_id %></td>
        <td><%= recref.service_name %></td>
        <td><%= recref.description %></td>
        <td><%= recref.price %></td>
        
        <td><a href='/service/<%= recref.service_id %>'> Details</a></td>
       
    </tr>
    <% }); %>
</table>

<% } else { %>
<p>Not Records Available</p>
<% } %>
